@import '../../sass/mixin';


.socList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

    margin-bottom: 12px;

    @include mq(tab) {
        margin-bottom: 10px;
      }
}

.socList__icon {
    fill: var(--primary-text-color);
    opacity: 1;

    transition: fill var(--transition), opacity var(--transition);
}

.socList__link:hover {
    .socList__icon {
        fill: var(--accent-color);
    }
}

.socList__linkage:hover {
    .socList__icon {
        opacity: 0.8;
    }
}

