@import '../../sass/mixin';


.soc__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

    margin-bottom: 12px;

    @include mq(tab) {
        margin-bottom: 10px;
      }
}

.soc__icon {
    fill: var(--primary-text-color);
}

.soc__link:hover {
    .soc__icon {
        fill: var(--accent-color);
    }
}

