@font-face {
    font-family: 'Open Sans Regular';  //400
    src: url('../fonts/OpenSans-Regular.ttf');
    font-style: normal;
  }

  @font-face {
    font-family: 'Open Sans SemiBold'; //600
    src: url('../fonts/OpenSans-SemiBold.ttf');
    font-style: normal;
}
