@import '../../sass/mixin';

.navList {
  display: flex;
  gap: 12px;

  font-size: 16px;
  line-height: 1.38;

  @include mq(tab) {
    font-size: 18px;
    line-height: 1.39;
    gap: 20px;
  }

  @include mq(desk) {
    gap: 40px;
  }
}

